<div class="row">
    <div class="col-md-6">
        <h3>Name : {{ name }}</h3>
    </div>        
    <div class="col-md-6">
        <h3>Email : {{ email }}</h3>
    </div>    
    <div class="col-md-6">
        <h3>Subject : {{ subject }}</h3>
    </div>    
    <div class="col-md-6">
        <h3>Message : {{ message }}</h3>
    </div>
</div>